<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Post new Jokes make people laugh 😂</h2>
  <form action="/submit" method="post">
    <input type="text" name="jokeText" placeholder="Enter Joke here">
    <input type="text" name="jokeType" placeholder="Enter the type of joke">
    <input type="submit" name="submit">
  </form>
</body>
</html>